@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
   line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --primary: #1f3e72;
--secondary: rgba(255, 255, 255, 0.78); */

.secondary{
  color:  rgba(255, 255, 255, 0.78);
}

.primary{
  background-color: #131110;
}
.ash{
  border-color: rgba(255, 255, 255, 0.12);
}
.kard:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, 0.46) 217.91%);
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}
